// funciones  SASS
@function color($color-name){
    @return map-get($colors, $color-name );
 };
 $colors:(
   crema:#F3F1F2
 );

.location{
    width: 300px;
    padding: 0 20px;
    background-color: color(crema);
    overflow: hidden;
    transform: rotate(0deg) ;
    .topSection{
        display: flex;
        align-items: flex-start;
        justify-content:space-between;
        .title{
            margin-top: 10px;
        }
        .btnActionSection{
            display: flex;
            .btnActionElm{
                margin-left: 0.8em;
                cursor: pointer;
            }
        }
    }   
}
.show{
    //display: block;
    height: auto;
}
.hide{
    //display: none;
    height: 0;
}
.rotate{
    margin-top: 110px;
    transform: rotate(-90deg) ;
}