// funciones  SASS
@function color($color-name){
    @return map-get($colors, $color-name );
 };
 $colors:(
   crema:#F3F1F2
 );

.location{
    width: 300px;
    padding: 0 20px;
    background-color: color(crema);    
    overflow: hidden;
    transform: rotate(0deg) ;        
    .topSection{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content:space-between;
        .title{
            margin-top: 10px;
        }
        .btnActionSection{
            display: flex;
            .btnActionElm{
                margin-left: 0.8em;
                cursor: pointer;
    
                .minimizeIcon::after{
                    content: 'minimize'; 
                }
                .maximizeIcon::after{
                    content: 'launch'; 
                }  
                .collapseIcon::after{
                    display: block;
                    content: 'keyboard_tab'; 
            
                    transform: rotate(90deg)
                }
                .collapseReturnIcon::after{
                    display: block;
                    content: 'keyboard_tab'; 
                    transform: rotate(180deg)

                                
                }
            }
        }
    }   
}
.show{
    //display: block;
    height: auto;
}
.hide{
    //display: none;
    height: 0;
}
.rotate{
    margin-top: 130px;
    margin-left: -120px;
    transform: rotate(-90deg) ;
}