<div class="searchContent">
    <input [(ngModel)]="searchText" placeholder="Filter locations" class="searchInput">
</div>
<div class="index">
    <a href="#{{item}}" *ngFor="let item of arrayLeters">
        {{item}}
    </a>
</div>

<span *ngIf="show">Loading...</span>

<div class="countryList" *ngIf="result.length > 0">
    <div *ngFor="let pais of result | myFilter : searchText"  class="countryElm" [id]="pais.name | getFirstLetter">
        <input type="checkbox" [name]="pais.name" >

        <img  [src]="pais.flag" alt="" srcset="" class="flag" >        
        <span class="countryData"> {{pais.capital | blankName}} - {{pais.name | blankName}}</span>
    </div>
</div>



<!-- <div class="result" >
    <button *ngFor="let item of result" >{{item.title}}</button>
</div> -->