<div class="searchContent">
    <input [(ngModel)]="searchText" placeholder="Filter locations" class="searchInput">    
</div>
<div class="clearContainer" id="clearAll"  >
    <div class="clearAction" (click)="clearCheckBox()">
            <i class="material-icons  icon">close</i>
            <span>Clear All</span>
    </div>
</div>
<span *ngIf="show">Loading...</span>

<div class="countryList" *ngIf="result.length > 0">
    <div class="indexContainer">
    
        <div class="index">
            <a href="#{{item}}" *ngFor="let item of arrayLeters" class="letterIndex">
                {{item}}
            </a>
        </div>
    </div>
    <div *ngFor="let pais of result | myFilter : searchText"  class="countryElm" [id]="pais.name | getFirstLetter">

        <label class="container">
            <img  [src]="pais.flag" alt="" srcset="" class="flag" >
            <span class="countryData">{{pais.name | blankName}} - {{pais.capital | blankName}}</span>
            <input type="checkbox"  [name]="pais.name" class="checkboxCountry">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="line"></div>
</div>